/* styles/globals.css */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background-color: #c8c0c0;
}

a {
  text-decoration: none;
  color: inherit;
}
/* styles/globals.css */
button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #9c9999;
}

